.vscode
*.pyc
*.DS.Store
Python/virtualenv/*/bin/
Python/virtualenv/*/include/
Python/virtualenv/*/lib/
Python/virtualenv/*/.Python
Python/virtualenv/*/pip-selfcheck.json
Python/virtualenv/*/Scripts
Python/virtualenv/*/tcl
Python/virtualenv/djangoEnv/share/
Python/virtualenv/djangoEnv/local/
csharp/*/bin/
csharp/*/obj/