<html>
    <head>
       <title>Dojo Survey Index</title>
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/result' method='post'>
          Name: <input type='text' name='name'><br>
          Dojo Location: <select name='location'>
                            <option value="Bellevue">Bellevue</option>
                            <option value="Seattle">Seattle</option>
                        </select><br>
          Favorite Language: <select name='language'>
                                <option value="HTML">HTML</option>
                                <option value="Javascript">Javascript</option>
                                <option value="Python">Python</option>
                            </select><br>
          Comment (optional): <input type='textarea' name='comment'><br>
          <input type='submit' value='create user'>
      </form>
    </body>
</html>