<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Date and Time</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div id="title">
                The current time and date
            </div>
            <div id="datetime">
                {{ datetime }}
            </div>
        </div>
    </body>
</html>