<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <title>{{book.title}}</title>
    <meta charset="UTF-8">
</head>

<body>
    <div>
        <a href="/books">Home</a>&nbsp;&nbsp;
        <a href="/logout">Logout</a>
    </div>
    <h3>{{book.title}}</h3>
    Author: {{book.author}}
    <div>
        {% for review in Reviews %}
        <p>
            Rating: {{review.rating}}
            <a href="/users/{{review.user_id}}">{{review.user_name}}</a> says: {{review.content}}<br>
            <i>Posted on {{review.date}}</i>
        </p>
            {% if review.user_id == request.session['id'] %}
                <a href="/deleteReview/{{review.id}}">Delete this Review</a>
            {% endif %} 
        {% endfor %}
    </div>
    <div>
        <form action="/review" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{user_id}}" name="user_id">
            <input type="hidden" value="{{book_id}}" name="book_id">
            <textarea name="review"></textarea>
            <button type="submit" value="submit" name="submit">Submit Review</button>
        </form>
    </div>
</body>

</html>